*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.goto-cart{
    padding: 20px;
    font-size: 30px;
    border-radius: 100%;
    background-color: darkblue;
    color: white;
    border: white;
  }
.goto-cart:hover{
    padding: 20px;
    font-size: 30px;
    border-radius: 100%;
    background-color: white;
    color: darkblue;
    border: white;
  }








@media only screen and (max-width: 600px) {
    
}