.Buyplan{
    background-color: azure;
    text-align: left;
    padding: 20px 40px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.Buyplan h3{
    padding: 20px 0px;
    font-size: 45px;
}
.Buyplan p,label{
    font-size: 15px;
    line-height: 26px;
}
.Buyplan h2{
    padding: 20px 0px;
}

form input{
    width: 40%;
    padding: 5px;
}
.hospital-list-container{
    width: 100%;
    height: auto;
    padding: 5px;
   
    
   
}
.hospital-list-container{
    width: 30%;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
   
}
.plan-link {
  text-decoration: none; 
    
}
.hospital-list-ul li{
    list-style-type: none;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    color: black;
    font-weight: 500;
   
}
.hospital-list-container li:hover{
    list-style-type: none;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    background-color: lightgray;
    border-bottom: 1px black;
    transition: .3s;
}
.hidelist{
    display: none;
}








@media only screen and (max-width: 600px) {
    .Buyplan{
        background-color: azure;
        text-align: left;
        padding: 100px 40px;
        font-weight: 0;
       
    }
    
    .Buyplan h3{
        padding: 20px 0px;
        font-size: 20px;
    }
    .Buyplan p, label{
        font-size: 13px;
        line-height: 26px;
    }
    .Buyplan h2{
        padding: 20px 0px;
    }
    
    form input{
        width: 100%;
        padding: 5px;
    }
    .hospital-list-container li{
        list-style-type: none;
        line-height: 25px;
        font-size: 14px;
        cursor: pointer;
        color: black;
        font-weight: 500;
       
        
       
    }
    .hospital-list-container{
        width: 80%;
        height: 300px;
        border: 1px solid black;
        border-radius: 5px;
        overflow: scroll;
       
    }
}