*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.about h1{
    text-align: center;
    color: navy;
    font-size: 45px;
    padding-bottom: 40px;
}
.about{
    text-align: center;
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}

.comment-content{
    width: 80%;
    margin: auto;
    display:block;
    text-align: center;
}
.comment-content p{
    color: deeppink;
    font-size: 14px;
}
.comment-content h3{
    margin: 10px 0px 40px 0px;
}
.swiper-button-next:after, .swiper-button-prev:after{
    color: navy;
    
 }




@media only screen and (max-width: 600px) {
    .about h1{
        font-size:23px;
        width: 80%;
        margin: auto;
        
    } 
    .comment-content {
        margin-top:10px;
    }
    .comment-content p{
        font-size: 12px;
    }
    .comment-content h3{
        font-size: 13px;
        padding: 0px 0px 20px 0px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
       font-size: 20px!important;
       margin-top: -150px;
       
    }
    .about{
        text-align: center;
        background-color: azure;
        font-family: 'Open Sans', sans-serif;
        padding: 0px 0px;
    }
}