*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
 }
 
.container{
    color:dimgrey;
    background-color: azure ;
    display:flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 50px;
    border-bottom: 0.2px solid white;
    width:100%;
    position: fixed;
    z-index: 5000;
    height: 70px;
   
}

.menubar h3{
    font-size: 45px;
    color: black;
    font-family: 'Dancing Script', cursive;
}
.icon{
    visibility: hidden;
}
.menulist{
    display:block;
    /* gap: 40px; */
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
   
} 
.navb-con{
    display:flex;
    gap: 60px;
    padding: 10px 0px;
   
}
.hide-nav{
    display:flex;
    gap: 60px;
    padding: 10px 0px;
}
.menulist li{
    list-style-type: none;
    cursor:pointer;
    
}
.menulist li:hover{
    color: navy;
    
}
/* effective on omouse Enter */
 .hide-drp-ul{
    display:none;
}

.drp-ul{
    border:2px solid darkslateblue;
    border-radius: 5px;
    padding: 5px 10px; 
    position: absolute;
    background-color: azure;
   }
   .list-1{
    top:50px;
    left: 60%;
    
   }
   .drp-ul li{
    list-style-type: none;
    line-height: 40px;
    font-weight: 700;
    cursor: pointer;
    
   }
   .drp-ul li:hover{
    color: darkslateblue;
   }
   
   .link {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
   } 

   .container Link{
    list-style-type: none;
    text-decoration: none;
   }




@media only screen and (max-width: 600px) {
     .container{
        /* flex-direction: column; */
        padding: 10px 20px;
      display: block;
        width: 100%;
        z-index: 1111;
    }

    .navb-con{
        flex-direction: column;
        gap: 30px;
        padding: 50px 0px; 
        border: solid navy; 
        border-radius: 5px;
        z-index: 1111;
        background-color: azure;
        width: 70%;
    }

    
    .icon{
        visibility: visible;
        
    } 
    #icon{
        font-size: 50px;
    }
    .menubar{
        display: flex;
        justify-content: space-between;
    }
    .hide-nav{
        display: none;
    }
    






}





