.button{
    width:100%;
    padding: 18px 10px;
    font-size: 20px;
    border-radius: 6px;
    border:2px  solid navy;
    color:navy;
    cursor: pointer;
    background: transparent;
    transition: .2s ease-in-out;
}
.button:hover{
    width:100% ;
    padding: 18px 10px;
    font-size: 20px;
    border-radius: 10px;
    border:2px  solid azure;
    color:azure;
    background-color: navy;
    cursor: pointer;
}
Link{
    text-decoration: none;
}



